* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to right bottom, #ad1eee, #c34fec, #d474eb, #e196ec, #ebb7ed);
}

.container {
  height: 500px;
  width: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px 0 30px 0;
  background-color: #fff;
  position: relative;
}

.container h1 {
  color: #AD1EEE;
  align-self: center;
  margin-bottom: 30px;
}

.container ul {
  color: #6D6D6D;
  font-size: 20px;
  margin-left: 40px;
  list-style: none;
}

.container ul > li {
  margin: 5px 0;
}

.container .actions {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .actions input {
  height: 40px;
  width: 200px;
  font-size: 16px;
  border: 2px solid #ebb7ed;
  border-radius: 5px;
  display: none;
}

.container .actions input.active {
  display: inline-block;
}

.container .actions input:focus {
  outline-color: #AD1EEE;
}

.container .actions .add {
  color: #fff;
  background-color: #FFBA74;
  border-radius: 100%;
  padding: 8px 10px;
  font-size: 30px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,50%);
  cursor: pointer;
}

.container .actions .add:hover {
  background-color: #FFAC58;
}

#template {
  display: none;
}

.list-element {
  display: flex;
  align-items: center;
}

i.fa-check-circle {
  color: #ebb7ed;
  margin-right: 5px;
  font-size: 30px;
  cursor: pointer;
}

i.fa-check-circle:hover {
  color: #d474eb;
}

input.change {
  height: 40px;
  width: 200px;
  font-size: 16px;
  border: 2px solid #ebb7ed;
  border-radius: 5px;
  display: none;
}

input.change:focus {
  outline-color: #AD1EEE;
}


span.edit {
  border-radius: 5px;
  background-color: #d474eb;
  padding: 5px 7px;
  color: #fff;
  font-size: 14px;
  margin: 0 5px;
  cursor: pointer;
}

span.edit:hover {
  background-color: #c34fec;
}
